/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    background-image: url("./images/WhatsApp\ Image\ 2023-11-12\ at\ 10.06.13\ PM.jpeg");
}

header .main-navigation {
    padding: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation button {
    width: 200px;
    height: 48px;
    border-radius: 12px;
    border-style: none;
    color: #00252e;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 24px;
    background: #fff;

    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.1);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.hero-container .hero-details {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 45%;
    padding-right: 4%;
}

.hero-details h1 {
    color: #00252e;
    font-family: Poppins;
    font-size: 3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 6%;
}

.hero-details p {
    color: #00252e;

    font-family: Open Sans;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 6%;
    /* 150% */
}

.hero-details button {
    color: #fff;
    width: 280px;
    height: 56px;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 6%;
    border-radius: 28px;
    background: #ff52c1;
    border-style: none;
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
}

.hero-container .hero-image {
    width: 55%;
    border-radius: 13.386px;
    background: #fff;

    box-shadow: 0px 0px 7px 0px rgba(0, 37, 46, 0.18);
}

.image {
    width: 100%;
    height: 100%;
}

main {
    padding: 4%;
}

main .section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 6%;
}

main .section-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 6%;
}

main .section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 6%;
}

.section-details {
    width: 50%;
    justify-self: center;
    align-self: center;
    padding: 4%;
}

.section-image {
    width: 50%;
}

.section-details h2 {
    color: #00252e;
    font-family: Poppins;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 6%;
}

.section-details p {
    color: #808e9a;
    font-family: Open Sans;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

main .section-4 {
    display: flex;
    flex-direction: column;
    margin: 0% 12% 0% 12%;
    padding: 4%;
    text-align: center;
    border-radius: 15px;
    background: #fff;

    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
}

.section-4 h2 {
    margin-bottom: 6%;
    font-size: 2.5vw;
}

.section-4 button {
    color: #fff;
    width: 280px;
    height: 56px;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 6%;
    border-radius: 28px;
    background: #ff52c1;
    border-style: none;
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
    align-self: center;
}

.section-4 button:hover {
    fill: #ff9adb;
    filter: drop-shadow(0px 6px 13px rgba(0, 37, 46, 0.22));
}

footer {
    background: #00252e;
}

footer .footer-container {
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

footer .footer-logo {
    padding: 4%;
    padding-bottom: 0% !important;
}

.footer-contact .location {
    display: flex;
    gap: 4%;
    color: #fff;
    font-family: Open Sans;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 171.429%;
    width: 23vw;
    margin-bottom: 6%;
}

.footer-contact .phone-number {
    display: flex;
    gap: 4%;
    margin-bottom: 6%;
    font-size: 1.5vw;
}

.footer-contact .email-address {
    display: flex;
    gap: 4%;
    margin-bottom: 6%;
    font-size: 1.5vw;
}

.footer-container ul li {
    margin-bottom: 36%;
    fill: #fff;

    stroke-width: 1px;
    stroke: #000;
    font-size: 1.5vw;
    filter: drop-shadow(0px 1px 2px #000);
}

.footer-container .footer-icons {
    margin-bottom: 50%;
    font-size: 1.5vw;
}

.icon-copyright p {
    font-size: 1.5vw;
    width: 18vw;
    line-height: 171%;
}

@media screen and (max-width: 425px) {
    header .main-navigation {
        padding: 2%;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2%;
    }

    .hero-container .hero-image {
        width: 100%;
        margin-bottom: 3%;
        padding: 4%;
    }

    .hero-container .hero-details {
        width: 100%;
        margin-bottom: 3%;
        padding: 4%;
    }

    .hero-details button {
        align-self: center;
        font-size: 4vw;
    }

    .hero-details h1 {
        font-size: 6vw;
    }

    .hero-details p {
        font-size: 4vw;
    }

    main .section-1 {
        display: flex;
        flex-direction: column-reverse;
    }

    main .section-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    main .section-3 {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-details {
        width: 100%;
        padding: 4%;
        text-align: center;
        padding: 2%;
    }

    .section-image {
        width: 100%;
        padding: 2%;
    }

    .section-details h2 {
        font-size: 5vw;
    }

    .section-details p {
        font-size: 4vw;
    }

    .section-4 h2 {
        margin-bottom: 6%;
        font-size: 5vw;
    }

    .section-4 button {
        font-size: 4vw;
    }

    footer .footer-container {
        padding: 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
    }

    .footer-contact .location {
        font-size: 4vw;
        width: 100%;
    }

    .footer-contact .phone-number {
        font-size: 4vw;
    }

    .footer-contact .email-address {
        font-size: 4vw;
    }

    .footer-container ul li {
        margin-bottom: 6%;
        font-size: 4vw;
    }

    .footer-container .footer-icons {
        margin-bottom: 6%;
        text-align: center;
    }

    .icon-copyright p {
        text-align: center;
        margin-bottom: 2%;
        width: 100%;
        font-size: 4vw;
    }
}